// main.styl

@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i');

$body-font-family = 'Raleway', sans-serif;

.tabs__container
  height: 32px !important

// Headings
// ============================================================
$headings := {
  h1: { size: 28px, weight: 700, line-height: 1, letter-spacing: -.04em },
  h2: { size: 28px, weight: 400, line-height: 1.35, letter-spacing: -.02em },
  h3: { size: 21px, weight: 700, line-height: 1, letter-spacing: normal },
  h4: { size: 21px, weight: 400, line-height: 1, letter-spacing: normal },
  h5: { size: 16px, weight: 700, line-height: 1, letter-spacing: normal },
  h6: { size: 14px, weight: 700, line-height: 1, letter-spacing: normal },
  subheading: { size: 14px, line-height: 21px, weight: 400 },
  body-2: { size: 14px, weight: 400 },
  body-1: { size: 12px, weight: 400 },
  caption: { size: 12px, weight: 400 },
  button: { size: 14px, weight: 500 }
}

.display-4
  font-size: $headings.h1.size !important
  font-weight: $headings.h1.weight
  line-height: $headings.h1.line-height !important
  letter-spacing: $headings.h1.letter-spacing !important
  
.display-3
  font-size: $headings.h2.size !important
  font-weight: $headings.h2.weight
  line-height: $headings.h2.line-height !important
  letter-spacing: $headings.h2.letter-spacing !important
  
.display-2
  font-size: $headings.h3.size !important
  font-weight: $headings.h3.weight
  line-height: $headings.h3.line-height !important
  letter-spacing: $headings.h3.letter-spacing !important
  
.display-1
  font-size: $headings.h4.size !important
  font-weight: $headings.h4.weight
  line-height: $headings.h4.line-height !important
  letter-spacing: $headings.h4.letter-spacing !important
  
.headline
  font-size: $headings.h5.size !important
  font-weight: $headings.h5.weight
  line-height: $headings.h5.line-height !important
  letter-spacing: $headings.h5.letter-spacing !important
  
.title
  font-size: $headings.h6.size !important
  font-weight: $headings.h6.weight
  line-height: $headings.h6.line-height !important
  letter-spacing: $headings.h6.letter-spacing !important
  
.subheading
  font-size: $headings.subheading.size !important
  font-weight: $headings.subheading.weight
  line-height: $headings.subheading.line-height !important
  
.body-2
  font-size: $headings.body-2.size !important
  font-weight: $headings.body-2.weight
  
.body-1
  font-size: $headings.body-1.size !important
  font-weight: $headings.body-1.weight
  
.caption
  font-size: $headings.caption.size !important
  font-weight: $headings.caption.weight

.btn
  font-size: $headings.button.size
  font-weight: $headings.button.weight
  
// Optional dense expansion panel headers
// ============================================================
.dense-expansion 
  li 
    div.expansion-panel__header 
      padding-top: 1px 
      padding-bottom: 1px
      padding-left: 8px

.dialog__container   
  width: 100%

// Button Icons
// ============================================================
.btn.xs-icon
  height: 30px !important
  width: 30px !important
  .icon
    font-size: 16px !important

.btn.xxxs-icon
  height: 24px !important
  width: 24px !important
  margin: 0 !important
  .icon
    font-size: 14px !important

.btn.tiny-icon
  height: 18px !important
  width: 18px !important
  margin: 0 !important
  .icon
    font-size: 12px !important

// Cima Avatar
// ============================================================
.cima-avatar 
  .avatar
    height: 20px !important

.avatar.cima-avatar
  height: 20px !important


// Paragraph Indent
// ============================================================
p.indent 
  text-indent: 12px;

@import '~vuetify/src/stylus/main'

