// main.styl

@import url('https://fonts.googleapis.com/css?family=Raleway');

$body-font-family = 'Raleway', sans-serif;

.tabs__container
  height: 32px !important


@import '~vuetify/src/stylus/main'



